
.container 
{
    max-width: 1350px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.fas {
    margin-right: 20px;
}
/*header*/

header {
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
    width: 100%;
    min-width: 320px;
    padding: 21px 0;

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        img {
            max-width: 168px;
        }
    }
}


.fa-arrow-left:before {
    position: absolute;
    left: 2rem;
    height: 2rem;
    width: 2rem;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #000;
}







/*Footer*/

footer{
    background-color: #353535;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 0px;
    max-width: 100%;
    min-width: 320px;
}

footer h3{
    margin: 0 0 10px 20px;
    color: #e6e6e6;
    font-weight: normal;
}

footer a{
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: #fff;
}

footer .footer__logo{
    font-family: "Shrikhand", cursive;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 30px;
}