
.container {
    max-width: 2560px;
    margin: auto;
    position: relative;
    
}
h1,
h2,
h3,
p{
    font-family: "Roboto", sans-serif;
}

body,
html{
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 1800px) {
    .container{
        max-width: 1800px;
        margin: auto;
    }
    
}

.fas {
    margin-right: 20px;
}

h1{
    color: #9356dc;
}

.chargement{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #fff;
    left: 0;
    top: 0;
    z-index: 10000;
    animation: chargement 3s forwards;

}

@keyframes chargement{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        z-index: -10;
    }
}

.cercle-chargement{
    border: 10px solid #f3f3f3;
    border-top: 10px solid #9356dc;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation:  3s linear forwards;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: rotate(360deg);
        opacity: 0;
    }
}

.presentations{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f6f6f6;
    padding: 40px 40px;
    margin-bottom: 50px;
}

.presentation-book{
    font-weight: bold;
    font-size: 25px;
}

.exploration-presentation{
    padding: 0.75rem 1.5rem;
    border-radius: 30px;
    text-align: center;
    color: #fff;
    font-weight: normal;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    background-image: linear-gradient(#ff79da, #9356dc);
    transition: background-color 250ms;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}

.exploration-presentation:hover{
    opacity: 0.8;
    box-shadow: 1rem 1rem 20px rgba(0, 0, 0, 0.25);
}



.titre-fonctionnement{
    margin: 0 0 20px 22px;
}

.fonction{
    font-weight: bold;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15px;
}

.fonction-choix{
    margin: 0 20px 20px 40px;
    font-weight: bold;
    background-color: #f6f6f6;
    padding: 30px 50px 30px 18px;
    margin-left: 20px;
    text-align: center;
    border-radius: 20px;
    position: relative;
    font-family: "Roboto",sans-serif;
    width: 300px;
    max-height: 78px;
}

.fonction-choix:hover{
    background-color: #f5edff;
}

.fonction-choix-numero{
    width: 18px;
    height: 18px;
    padding: 4px 4px;
    border-radius: 50%;
    background-color: #9356dc;
    color: #fff;
    position: absolute;
    top: 30%;
    left: -4;
}

.fonction-choix:hover .fas{
    color: #9356dc;
}

.restaurants{
    background-color: #f6f6f6;
}

.box-restaurants{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.titre-restaurant{
    padding: 50px 0 10px 22px;
}

.restaurant-pix{
    border-radius: 20px;
    border-color: white;
    margin-bottom: 18px;
    position: relative;
    max-width: 280px;
    min-width: 280px;
}

@media screen and (min-width: 375px){
    .restaurant-pix{
        max-width: 330px;
        min-width: 280px;
        margin-right: 25px;
    }
    
}

.restaurant-pix img{
    width: 100%;
    max-height: 175px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}


@media screen and (min-width: 650px) {
    .box-restaurants{
        margin-right: 25px;
    }
    
}



.restaurant-pix .restaurant-pix-note{
    padding: 19px 11px;
    position: relative;
    display: flex;
}

.restaurant-pix 
.restaurant-pix-note 
h3{
    margin-bottom: 6px;
}
.restaurant-pix 
.restaurant-pix-note 
.restaurant-pix-note-nom{
    position: relative;
}

@keyframes like-heart{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
        backgrround-image: linear-gradient(100deg,#9356dc,#ff79da);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    100%{
        opacity: 1;
        backgrround-image: linear-gradient(100deg,#9356dc,#ff79da);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}



.restaurants 
.flash-nouveau{
    background-color: #99E2D0;
    color:#1b6150;
    padding: 0.5rem;
    border-radius: 0.125rem;
    position: absolute;
    top: 1rem;
    right: 0.75em;
}

.restaurant-pix-image img{
    width: 100%;
    max-height: 250px;
    object-fit: cover;
}

.fa-heart:before{
    margin-left: 20px;
}



.recherche{
    background-color: #f6f6f6 ;
}

img{
    width: 100%;
    max-height: 175px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.flash-nouveau{
    background-color: #99E2D0;
    color: #1b6150;
    padding: 0.5rem;
    border-radius: 0.125rem;
    position: absolute;
    top: 1rem;
    right: 0.75rem;
}


.box-restaurants{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

.titre-restaurant{
    padding: 50px 0 10px 22px;
}

.restaurant-pix{
    border-radius: 20px;
    background-color: white;
    margin-bottom: 18px;
    position: relative;
    max-width: 280px;
    min-width: 280px;
}

.restaurants {
    background-color: #f6f6f6;
}

.container-resto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.titre-restaurant{
    padding: 50px 0 10px 22px;
}

.box-restaurants{
    border-radius: 20px;
    background-color: #fff;
    margin-bottom: 18px;
    position: relative;
    max-width: 280px;
    min-width: 280px;
}



@media screen and (min-width:375px){
    .box-restaurants{
        max-width: 330px;
        min-width: 280px;
    }
}

@media screen and (min-width: 650px){
    .box-restaurants{
        margin-right: 25px;
    }
}

.box-restaurants 
img{
    width: 100%;
    max-height: 175px;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.box-restaurants 
.restaurant-pix-note{
    padding: 19px 11px;
    position: relative;
    display: flex;
}

.box-restaurants 
.restaurant-pix-note 
.h3{
    margin-bottom: 6px;
}



.box-restaurants 
.restaurant-pix-note 
.restaurant-pix-note-nom{
    position: relative;
}

.box-restaurants 
.restaurant-pix-note 
.heart{
    position: absolute;
    right: 20px;
    top: 1;
}


.box-restaurants 
.restaurant-pix-note 
.heart-1{
    position: relative;
}

.box-restaurants 
.restaurant-pix-note 
.heart-1:hover{
    animation: heart_empty_opacity1 1s;
}

.box-restaurants 
.restaurant-pix-note 
.heart-2{
    position: absolute;
    top: 0px;
    opacity: 0;
    color: #fff;
}

.box-restaurants 
.restaurant-pix-note 
.heart-2:hover{
    animation: heart_full_opacity 1s forwards;
}

.restaurants 
.flash-nouveau{
    background-color: #99E2D0;
    color: #1b6150;
    padding: 0.5rem;
    border-radius: 0.125rem;
    position: absolute;
    top: 1rem;
    right: 00.75em;
}

@keyframes heart_full_opacity {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
      background-image: linear-gradient(100deg, #9356DC, #FF79DA);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    100% {
      opacity: 1;
      background-image: linear-gradient(100deg, #9356DC, #FF79DA);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  @keyframes heart_empty_opacity1 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }


.photo-restaurant 
img{
    max-height: 250px;
    width: 100%;
    object-fit: cover;
}


.titre-carte{
        font-family: "Shrikhand", cursive;
        max-width: 322px;    
}

.fa-heart:before {
    margin-left: 20px;
  }

@media screen and (min-width: 1024px) {
    .carte-globale{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between ;
    }
}

.carte{
    background-color: #F6F6F6;
    padding: 36px 21px;
    margin-top: -27px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
    z-index: 1;
}

.carte
.far{
        align-self: flex-end;
}

.carte
h2{
    margin-bottom: 35px;
}


.entrees {
    margin-bottom: 27px;
  }
  .entrees h2::after {
    content: "";
    display: block;
    width: 43px;
    height: 3px;
    background: #99E2D0;
  }
  
@keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


.carte-globale-entrees{
    animation: fadein 2s;
}  

@media screen and (min-width: 1140px){
    .carte-globale-entrees{
        margin-right: 10px;
    }
}

.carte-globale-plats{
    animation: fadein 4s;
}


@media screen and (min-width: 1142px){
    .carte-globale-plats{
        margin-right: 10px;
    }
} 

.carte-globale-desserts{
    animation: fadein 6s;
}

.carte-globale-entrees h2,
.carte-globale-plats h2,
.carte-globale-desserts h2{
    font-weight: normal;
    font-size: 20px;
}

.carte-globale-contenus{
    background-color: #FFF;
    max-width: 350px;
    height: 70px;
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
    padding: 0 0 0 16px;
    border-radius: 0.75rem;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}


@media screen and (min-width: 400px) and (max-width: 1024px){
    .carte-globale-contenus{
        max-width: none;
    }
}



.carte-globale-contenus-slash{
    width: 350px;
    padding: 14px 0;
    border-radius: 0.75rem;
    display: flex;
    justify-content: space-between;
}


.carte-globale-contenus-slash h3{
    font-size: 16px;
}

.carte-globale-contenus-slash h4{
    font-size: 16px;
}

@media screen and (min-width: 320px) and (max-width: 425px){
    .carte-globale-contenus-slash h3{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .carte-globale-contenus-slash h4{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.carte-globale-contenus:hover .carte-globale-contenus-slash-confirmation{
    margin-right: 0px;
    min-width: 4rem;
   transition: margin-right 0.5s;
}


.carte-globale:hover .header-menu{
    white-space: nowrap;
    text-overflow: ellipsis;
}

.carte-globale:hover .header-menu h3{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.carte-globale:hover .header-menu h4{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 405px){
    .carte-globale-contenus:hover .header-menu{
        max-width: 130px;
    }
}

.carte-globale-contenus:hover .cercle{
    transform: rotate(360deg);
}

.carte-globale-contenus-slash-confirmation{
    background-color: #99E2D0;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -64px;
}

.cercle{
    width: 1.6rem;
  height: 1.6rem;
  border-radius: 100px;
  background: #FFF;
  color: #99E2D0;
  display: flex;
  align-items: center;
  align-self: center;
  align-content: center;
  transition: transform 0.5s;
}

.cercle .fas{
    margin-left: 4px;
}

.carte-prix{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-self: flex-end;
    font-weight: bold;
    margin-right: 20px;
    width: 25%;
}

.header-menu{
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-overflow: ellipsis;
}

.header-menu h3{
    text-overflow: ellipsis;
    white-space: nowrap;
}

.header-menu h4{
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: normal;
}




.bouton-commander{
    padding: 30px 0 80px 0;
    text-align: center;
    background-color: #F6F6F6;
}

.bouton-commander--pink{
    background-color: #9356DC;
    padding: 15px 50px;
    border-radius: 30px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: #FFF;
    font-weight: normal;
    font-size: 18px;
    margin: 0 auto;
    background-image: linear-gradient(#FF79DA, #9356DC);
    transition: background-color 250ms;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}


/*header*/

header {
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
    width: 100%;
    min-width: 320px;
    padding: 1rem ;
    position: relative;
    z-index: 1000;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
        img {
            max-width: 168px;
        }
    



.fa-arrow-left:before {
    position: absolute;
    left: 2rem;
    height: 2rem;
    width: 2rem;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #000;
}









/*Footer*/

footer{
    background-color: #353535;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 0px;
    max-width: 100%;
    min-width: 320px;
}

footer h3{
    margin: 0 0 10px 20px;
    color: #e6e6e6;
    font-weight: normal;
}

footer a{
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: #fff;
}

footer .footer__logo{
    font-family: "Shrikhand", cursive;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 30px;
}