
.container {
    max-width: 2560px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    
}
h1,
h2,
h3,
p{
    font-family: "Roboto", sans-serif;
}

body {
    box-sizing: border-box;
}

img{
    width: 100%;
    max-height: 175px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.flash-nouveau{
    background-color: #99E2D0;
    color: #1b6150;
    padding: 0.5rem;
    border-radius: 0.125rem;
    position: absolute;
    top: 1rem;
    right: 0.75rem;
}


.box-restaurants{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

.titre-restaurant{
    padding: 50px 0 10px 22px;
}

.restaurant-pix{
    border-radius: 20px;
    background-color: white;
    margin-bottom: 18px;
    position: relative;
    max-width: 280px;
    min-width: 280px;
}

.restaurants {
    background-color: #f6f6f6;
}




.fas {
    margin-right: 20px;
}
/*header*/

header {
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
    width: 100%;
    min-width: 320px;
    padding: 21px 0;

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        img {
            max-width: 168px;
        }
    }
}


.fa-arrow-left:before {
    position: absolute;
    left: 2rem;
    height: 2rem;
    width: 2rem;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #000;
}







/*Footer*/

footer{
    background-color: #353535;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 0px;
    max-width: 100%;
    min-width: 320px;
}

footer h3{
    margin: 0 0 10px 20px;
    color: #e6e6e6;
    font-weight: normal;
}

footer a{
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: #fff;
}

footer .footer__logo{
    font-family: "Shrikhand", cursive;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 30px;
}